
h1 {
  font-size: 15em;
  padding: 110px;
  font-weight: 900;
}
.p {
  font-size: 2em;
  color: var(--color-text-black);
  padding: 18px;
}
.container {
  padding: 15px;
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
